body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/01.jpg'); /* Arka plan resmi dosyasının adı */
    background-size: cover; /* Resmi sayfaya göre ölçeklendir */
    background-repeat: no-repeat; /* Resmin tekrar etmesini engelle */
    background-position: center; /* Resmi ortala */
}
